# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entorno virtual
venv/
.env

# Base de datos local / instancia Flask
instance/
*.db

# Migraciones (específicas del entorno)
migrations/

# Backups (no commitear backups de DB)
backups/

# VSCode
.vscode/
